/* максимальна ширина клітинки на випадок багу ерп */
td {
  max-width: 500px;
}

/* backgrond */
.main-layout__sidenav__content {
  background-color: #d9ead3;
}
/*================================*/

/* відключення дефолтного лічильника */
lgt-dispatch-stats-bar.display-flex.m-t-2.m-b-6 {
  display: none;
}
/*================================*/

/* HEADER */
div.d-flex.justify-content-between.m-b-2 {
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #fff;
  padding: 30px 30px 20px 30px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*================================*/

/* LOADS COUNTER */
.loads-counter {
  display: flex;
}
.loads-counter__item--need-to-check .loads-counter__count {
  color: #959393;
}
.loads-counter__item--eta .loads-counter__count {
  color: #d87093;
}
.loads-counter__item--on-site .loads-counter__count {
  color: #bdb76b;
}
.loads-counter__item--in-transit .loads-counter__count {
  color: #13b613;
}
.loads-counter__item--no-answer .loads-counter__count {
  color: #cc2b2b;
}

.loads-counter__item {
  margin-right: 80px;
}

.loads-counter__item--total {
  margin-right: 0;
}

.loads-counter__count {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.loads-counter__label {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
/*================================*/
